<div class='third'>
  <div id='about' class='about'>
    <div class='head'><h2><%= about.head %></h2></div>
    <!-- <div class='img'><img src='https://pics.livejournal.com/axe_ukraine/pic/0002z4bz'></div> -->
    <div class='text'>
      <h3><%= about.head0 %></h3>
      <p><b><%= about.p0 %></b> <a href='tel:<%= about.t0 %>'><%= about.t0 %></a></p>
      <p><b><%= about.p1 %></b> <a href='tel:<%= about.t1 %>'><%= about.t1 %></a></p>
      <p><b><%= about.p2 %></b> <a href='tel:<%= about.t2 %>'><%= about.t2 %></a></p>
    </div>
  </div>
  <!-- <div class='pseudo'></div> -->
</div>