<div class='fifth'>
  <!-- Contact us -->
  <div id='contact' class='contact'>
    
    <div class='form'>
      <form action='/mail' method='post'>
        <div class='form-wrap'>
          <div class='form-head'><h2><%= contact.head %></h2></div>
          <div>
            <input type='text' name='name' placeholder="<%= contact.phName %>" required>
            <span class='form-icon'><i class='fas fa-user'></i></span>
          </div>

          <div>
            <input type='text' name='company' placeholder="<%= contact.phCompany %>">
            <span class='form-icon'><i class='fas fa-globe-americas'></i></span>
          </div>

          <div>
            <input type='email' name='email' placeholder="<%= contact.phMail %>" required>
            <span class='form-icon'><i class='fa fa-at'></i></span>
          </div>

          <div>
            <input type='text' name='phone' placeholder="<%= contact.phPhone %>">
            <span class='form-icon'><i class='fa fa-phone'></i></span>
          </div>

          <div>
            <textarea type='text' name='msg' placeholder="<%= contact.phMsg %>" required></textarea>
            <span id='plane'><i class='fas fa-paper-plane'></i></span>
          </div>

          <div>
            <button>
              <%= contact.btn %>
            </button>
          </div>


        </div>
      </form>
    </div>

    <div class='links'>
      <div>
        <p><%= contact.address %></p>
        <span class='link-ad'><i class="fas fa-map-marker-alt fa-2x"></i></span>
      </div>

      <div>
        <a href='tel:<%= contact.phone %>'><p id='foot-num'><%= contact.phone %></p></a>
        <span class='link-phone'><i class="fas fa-phone fa-2x"></i></span>
      </div>

      <div>
        <a href="mailto:<%= contact.mail %>"><p id='foot-mail'><%= contact.mail %></p></a>
        <span class='link-mail'><i class="fas fa-envelope fa-2x"></i></span>
      </div>
    </div>
  </div>

  <div class='copy-right'>
    <p>
      <%= contact.copyright %>
    </p>
  </div>
</div>